/* Styling for the body to center content */
body {
    font-family: 'Arial', sans-serif;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgb(12, 12, 12) 50%, rgba(0,0,0,1) 100%);    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Content container with padding, shadow, and center alignment */
.content {
    width: 80%;
    max-width: 960px;
    text-align: center;
    padding: 60px;
    background-color: #00000000;    
    border-radius: 8px;
    margin: 20px;
}

/* Video player styling */
.video-player {
    width: 100%;
    max-width: 99%; 
    height: 600px;
    overflow: hidden;
    border-radius: 20px; /* Hidding the corners that are overflowing from the Iframe*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border: 1px solid rgb(70, 70, 70);
}

.video-player iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* Button styling for navigation */
.button {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold; 
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(90deg, rgb(29, 0, 97) 0%, rgb(50, 0, 73) 50%, rgb(56, 0, 101) 100%);
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Hover effect for button */
.button:hover {
    background: linear-gradient(90deg, rgb(0, 63, 31) 0%, rgb(0, 73, 18) 50%, rgb(34, 59, 0) 100%);
    transform: scale(1.2);
}

/* Media query for tablets */
@media (max-width: 768px) {
    .content {
        width: 90%;
        margin: 10px;
        padding: 15px;
    }

    button {
        padding: 12px 24px;
        font-size: 16px;
    }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
    .content {
        width: 95%;
        margin: 5px;
        padding: 10px;
    }

    button {
        width: 100%; /* Full width button */
        padding: 10px 20px;
        font-size: 14px;
    }

    .video-player {
        margin-bottom: 15px;
    }
}
